

.Footer_div_main{
    display: flex;
    flex-direction: column;
    gap: 2;
    background: #000;
}
.Footer_div_superior{
    
}

.Footer_section_1{

}

.Footer_section_2{

}

.Footer_section_3{

}


.Footer_div_newsletter{

}

.Footer_input{

}

.Footer_button{

}

.Footer__box{
    width: 100vw;
    height: 150px;
    display: flex;
    align-items: baseline;
    justify-content: center;
}
.Paragraph{
    font-size: small;
    font-weight: 800;
    color: aliceblue;
    margin-right: 1px;
    margin-top: 2%; 
}

.Team8Img{
    width: 70px;
}

.Footer_Modal__btn{
    background-color: transparent;
    border: none;
}