.lista_tallas {
    display: flex;
    flex-flow: wrap;
}

.talla {
    border: 1px solid lightgray;
    color: gray;
    padding: 5px;
    margin: 5px;
    font-size: 10px;
    cursor: pointer;
    user-select: none;
}
.tallas-title p{
    font-size: 14px;
    font-weight: 600;
    padding: 5px;
    border-bottom: 1px solid darkgrey;
}
.tallas-title span{
    font-size: 14px;
    margin-left: 5px;
}
.talla:hover, .talla-selec {
    background: lightgray;
}