/*
.Compra_section_datosDePago{}
.Compra_div_seleccion{}
*/

.Compra_div_contenedor{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
}



.Compra_PanelIzquierdo{
    width: 500px;
}

.Compra_fieldset > legend{
    margin: 2rem 2rem 1rem 2rem;
}

.Compra_fieldset{
    display: flex;
    justify-content: center;
}

.Compra_form_datos{
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.Compra_form_datos > input{
    margin: 0 0 1rem 0;
    height: 40px;
}

.Compra_boton_datos{
    height: 50px;
}

.Compra_btn_pago{
    width: 400px;
    height: 40px;
}

.Compra_antes{
    display: flex;
    flex-direction: column;
}

/* Compra despues */

.Compra_despues{
    display: none;
}

.Compra_section_datosDePago{
}
.Compra_section_datosDePago{

}



/* panel derecho */

.Compra_PanelDerecho{
    width: 500px;
    margin-top: 43px;
}

.Compra_div_instrucciones{
    width: 450px;
    height: 300px;
    background-color: rgb(221, 221, 221);
}
