
.Modal_Footer__container{
    display: flex;
    flex-direction: column;
    width: 520px;
    justify-content: center;
    align-items: center;
    z-index:100;
}

.Modal_Footer__text{
    margin: 1rem 2rem;
    font-size: 1.75rem;
    font-weight: 600;
}

.Modal_Footer__li{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: baseline;
}

.Modal_Footer__divInferior{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.Modal_Footer__li > img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    align-self: center;
    background-color: rgb(201, 200, 200);
}

.Modal_Footer__divInferior_a {
    display: flex;
    flex-direction: row;
    justify-content:center;
    height: 50px;
    width: 50px;
}

.Modal_Footer__icon{
    margin: 0 1.5rem;
}

.Modal_img__alba{
    background-image: url('../../Imagenes/thumb_alba.png');
    background-repeat: no-repeat;
}
.Modal_img__marce{
    background-image: url('../../Imagenes/thumb_marce.png');
    background-repeat: no-repeat;
}
.Modal_img__ary{
    background-image: url('../../Imagenes/thumb_ary.png');
    background-repeat: no-repeat;
}

button{
    background-color: transparent;
    border: none;
}

