.grayborder {
    border-bottom: 1px solid #666;
}

.menu_sublink {
    font-size: 12px;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
}

.menu_sublink:hover {
    color: black;
    text-decoration: underline;
}

.logo{
   width: 60px;
   height: 50px;
}

.menu_category{
    font-size: 14px;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    padding-left: 10px;
}
.menu_category:hover {
    color: darkgray;
    text-decoration: none;
}

.search_control {
    border: 1px solid #AAA;
    float: left;
    padding-right: 10px;
    height: 30px;
}

.search_control input {
    border: none;
    padding: 2px 5px;
    font-size: 13px;
}
.search_control input:focus {
    outline: none;
}
.search_control span {
    font-size: 14px;
}

.cart_link {
    margin: 5px 10px;
    color: darkgray;
    font-size: 18px;
}
.cart_link:hover {
    color: black;
}